.links
{
    display:flex;
}
.links a
{
    text-decoration: none;
    /* padding: 0.5rem; */
    margin: 30px;
    font-size: larger;

}
header{
    background-color:rgb(168, 147, 213);
    width: 100%;
    height:60px ;
    position: -webkit-sticky; 
    top: 0;
 position: fixed; 

}

